@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
body{
  margin: 0;
  padding: 0;
  background-size: absolute;
  font-family: Montserrat;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

.topnav {
  background-color: #2b2b2b;
  overflow: hidden;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 34px;
  text-decoration: none;
  font-size: 17px;
  z-index: 1;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #74b9ff;
  color: white;
}
.cont {
  background: url(cont.jpg) no-repeat center center fixed;
  position: relative;
}

.img {
  display: absolute;
   width: 100%;
    filter: blur(2px);
    margin-top:0%;
 }
.contact-form{
  width: 85%;
  max-width: 600px;
  background: white;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat",sans-serif;
}
.contact-form h1{
  margin-top: 0;
  font-weight: 1000;
}
.txtb{
  border:1px solid blue;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: #4cd137;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input{
  width: 100%;
  color:  #00cec9;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn{
  display: inline-block;
  background: #eb3b5a;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}
.mainhead{
  font-size:75px;
  color:white;
  font-weight: 800;
  margin-bottom: 5%;
  font-family:Montserrat;
}
.mainhead2{
  font-size:15px;
  color:white;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
  font-weight: light;

  font-family:Montserrat;
}
.featuresd{
  background-color:#2b2b2b;
  overflow:hidden;
  font-family: Montserrat;
}
.featuresd h1{

  margin-left: 5%;
  margin-top: 8%;
  color: #74b9ff;
  font-size:75px;
  font-weight: 800;
  margin-bottom:10px;
}
.featuresd p{
  margin-left: 5%;
  margin-right:30%
  margin-top: 0%;
  color: #74b9ff;

}
.featuresd img{
  margin: 5%;
  margin-right: 5%;
  width:300px;
  height:300px;

}
.featuresw{
  background-color:white;
  overflow:hidden;
  font-family: Montserrat;
}
.featuresw h1{

  margin-left: 5%;
  margin-top: 8%;
  color: #2b2b2b;
  font-size:75px;
  font-weight: 800;
  margin-bottom:10px;
}
.featuresw p{
  margin-left: 5%;
  margin-right:10%;
  margin-top: 0%;
  color: #2b2b2b;

}
.featuresw img{
  margin: 5%;
  margin-left: 15%;
  width:300px;
  height:300px;

}
.add h3{
  margin-left: 15%;
  margin-top:5%;
  border-bottom: 3px solid #74b9ff;
  padding-bottom: 10px;
  color: #2b2b2b;
  font-size: 30px;
}
.add p{
  margin-left: 15%;
  margin-right: 10%;
  font-size: 20px;

}
.links h3{
  margin-top: 5%;
  margin-left: 20%;
  border-bottom: 3px solid #74b9ff;
  padding-bottom: 10px;
  color: #2b2b2b;
  margin-right: 5%;
  font-size: 30px;
  margin-bottom: 2%;
}
.links ul{
  margin-left: 20%;
  color: #2b2b2b;
  font-size: 20px;
  margin-bottom:3%;
}
.links li{
  text-decoration: none;
  margin-top: 10px;
  border-bottom: 1px solid #74b9ff;
  margin-right: 15%;
  padding-bottom: 10px;
}
.links a{
  text-decoration:none;
  color: #2b2b2b;
}
#copy{
  padding:10px;
}
