@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
 }
 body {
  margin: 0;
  font-family: Montserrat;
}
.topnav {
  background-color: #2b2b2b;
  overflow: hidden;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 34px;
  text-decoration: none;
  font-size: 17px;
  z-index: 1;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #74b9ff;
  color: white;
}

.cssa {
position:fixed; 
top:140px; 
right:0px; 
z-index:99999; 
}





#IDCNavList{
  display: none !important;
}

#IDCommentsHeadLogin{
  display: none !important;
}

.idc-head_tools-share{
  display: none !important;
}



#comments a{
  color: #4CAF50;
  font-weight: normal !important;
}

.idc-r{
  background: url("");
}

#comments{
  color: #2d2d2d;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}

.toggle{
  position: fixed;
  bottom: 5%;
  left: 2%;
  z-index: 1;
  font-size: calc(1em + 1vmin);
}

.toggle-on{
  font-family: arial !important;
  font-size: calc(.5em + .7vmin) !important;
  color: white !important;
  text-shadow: none !important;
}

.toggle-soft .toggle-on{
  background:#2ec4cc !important;
}

.toggle-soft .toggle-off{
  background: #3498db !important;
}

.toggle-off{
  font-family: arial !important;
  font-size: calc(.5em + .7vmin) !important;
  color: white !important;
  text-shadow: none !important;
}


.background{
    background: linear-gradient(#2ecc71, #0fd8db); /* Standard syntax */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  transition: background .2s ease;
}

.body{
  position: fixed;
  top: 60px;
  left: 0px;
  right: 10px;
  bottom: 10px;
  overflow-y: scroll;
  transition: background .2s ease;
}

.hire{
  position: fixed;
  z-index: 999;
  background-color: #2ecc71;
  border-radius: 10px;
  padding: 1em;
  color: white;
  font-size: calc(0.75em + .5vmin);
  font-family: 'Raleway', sans-serif !important;
  right: 5%;
  top: 5%;
  cursor: pointer;
  box-shadow: 0px 3px 2px 1px rgba(45,45,45,.5);
  transition: 0.3s ease;
}

.correo{
  margin-bottom: .5em;
}

.hire i{
  margin-right: 5px;
}


.info{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.correo i{
  margin-right: 1em; 
}

.tel i{
  margin-right: 1em; 
}

.hireClick{
  top: 10%;
  left: 20%;
  bottom: 10%;
  right: 20%;
  transition: 0.3s ease;
  text-align: center;
  font-family: 'Raleway', sans-serif !important;
  font-size: calc(1.5em + 1.3vmin);
}

.start{
  background-image:url(image.jpg) !important;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 60px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nombre{
  text-align: center;
  text-shadow: 0px 10px rgba(46, 204, 113,.6);
  color: white;
  font-family: 'Raleway', sans-serif !important;
  font-size: calc(5.75em + 5.3vmin);
  font-weight: bold;
  animation-delay: 0.5s;
}

.nombre p{
  margin-top: -.6em;
}

.iam{
  color: white;
  animation-delay: 0.6s;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: 1px solid white;
  color: #2ecc71;
  background-color: white;
  padding: .5em;
  border-radius: 5px;
  border-bottom: 5px solid #2ecc71;
  font-size: calc(0.75em + 1.3vmin);
}

.line{
  height: 1px;
  width: 80%;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: mymove2 3s linear;
  -webkit-transform: translate(20%, -10%);
  transform: translate(20%, -10%);
}

@keyframes mymove {
    from {transform: translate(120%, -10%);}
    to {transform: translate(-120%, -10%);}
}

@keyframes mymove2 {
    from {transform: translate(120%, -10%);}
    to {transform: translate(20%, -10%);}
}

@keyframes floating {
  0%{transform: translate(0px, 0px) rotate(0deg);}
  20% {transform: translate(0px, 7px) rotate(3deg);}
  40%{transform: translate(0px, -10px) rotate(0 deg);}
  60% {transform: translate(0px, 7px) rotate(-3deg);}
  100%{transform: translate(0px, 0px) rotate(0deg);}
}

.ps4{
  animation: floating 4s linear infinite;
}

.sqljudge{
  animation: floating 4s linear infinite;
}

.school{
  animation: floating 4s linear infinite;
}

.line2{
  height: 1px;
  width: 80%;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: mymove 3s linear;
  -webkit-transform: translate(-120%, -10%);
  transform: translate(-120%, -10%);
}

/*PARTE DESPUES DE LA PRESENTACION*/

#first{
  background-color: #2d2d2d;
}

#first p{
  font-family: 'Open Sans', sans-serif;
}

.fa-heart{
  color: #e74c3c;
}

.yo{
  border: 12px solid #2ecc71;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}

/**/
#second{
  background-color: #fff;
  width: 100%;
}

#second .squareTitleRight{
  margin-right: 0;
}

#second .squareText{
  text-align: center;
  width: 95%;
}

.habilidades{
  width: 60%;
  margin: 0 auto;
}

.habilidad{
  width: 17%;
  min-width: 6em;
  border-radius: 5%;
  padding: .5em;
  background-color: #fff;
  border-bottom: 6px solid #2ECC71;
  margin: .5em;
  display: inline-block;
  box-shadow: 0px -0px 2px 1px rgba(45,45,45,.5);
  transition: 0.3s linear;
}

.habilidad:hover{
  box-shadow: 0px 6px 8px 1px rgba(45,45,45,.4);
  transform: translate(0px, -4px) !important;
  transition: 0.3s ease;
}

.habilidadPorcentaje{
  width: 100%;
  background-color: #2d2d2d;
  text-align: center;
}

.progress{
  color: white;
  font-family: 'Baloo Bhai', cursive;
}

.html{
  background-color: #F39C12;
  width: 80%;
}

.css{
  background-color: #3498DB;
  width: 75%;
}

.js{
  background-color: #F1C40F;
  width: 70%;
}

.jquery{
  background-color: #34495E;
  width: 70%;
}

.boot{
  background-color: #9B59B6;
  width: 70%;
}

.android{
  background-color: #2ECC71;
  width: 65%;
}

.mysql{
  width: 75%;
  background-color: #E67E22;
}

.java{
  background-color: #E74C3C;
  width: 80%;
}

#third{
  background-color: #2d2d2d;
}

#third p {
  font-family: 'Open Sans', sans-serif;
}

#third a{
  color: #2ecc71;
}

#fourth{
  background-color: #2ecc71;
}

#fourth p{
  font-family: 'Open Sans', sans-serif;
}

#fourth a{
  color: #2c3e50;
}

#fifth{
  background-color: white;
}

#fifth p{
  color: #2d2d2d;
  font-family: 'Open Sans', sans-serif;
}




/*CLASES PRINCIPALES------------------------*/

.square{
  width: 100%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

.squareTitle{
  text-align: center;
  color: #2ecc71;
  font-family: 'Arvo', serif;
  font-size: calc(0.85em + 1.4vmin);
  margin-left: 20%;
}

.squareSubTitle{
  color: #bdc3c7;
  margin-left: 10px;
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
  border-left: 3px solid #bdc3c7;
}

.squareTitleRight{
  text-align: center;
  color: #2ecc71;
  font-family: 'Arvo', serif;
  font-size: calc(0.85em + 1.4vmin);
  margin-right: 20%;
}

.squareImage{
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.image{
  max-width: 16em;
  max-height:12em;
  width: auto;
  height: auto;
  margin:auto;
  display:block;
}

.squareText{
  width: 60%;
  display: inline-block;
  vertical-align: top;
  padding: 2%;
}

p{
  margin: 0 auto;
  color: white;
  line-height: 1.6;
  font-size: calc(0.9em + 1.3vmin);
}

@media screen and (max-width: 1000px) {
  
  .square{
    width: 100%;
  }
  
  .squareTitle{
    margin-left: 0;
    padding: .5em;
  }
  
  .squareTitleRight{
    margin-right: 0;
    padding: .5em;
  }
  
  .squareImage{
    width: 100%;
  }
  .squareText{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin:auto;
    display:block;
  }
  
  .hire{
    width: 100%;
    text-align: center;
    font-size: 160%;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
  }
  
  .habilidad{
    width: 70%;
  }
  
  .progress{
    font-size: calc(0.95em + 1.4vmin);
  }
  
  .hireClick{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: calc(1.6em + 1.4vmin);
  }
}

.hidden {
    opacity: 0;
}

.display{
  display: none;
}

.displaySee{
  display: block;
}

.visible {
    opacity: 1;
}

/*waves****************************/
.box {
  position: fixed;
  top: 87%;
  transform: rotate(60deg);
  left: 60%;
}
.wave {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .4;
  position: absolute;
  top: 13%;
  left: 0%;
  background: #16a085;
  width: 1800px;
  height: 1800px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}
.wave.-three {
  animation: drift 7500ms infinite linear;
  position: fixed;
  background-color: #2ecc71;
}
.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: .1;
  background: black;
  position: fixed;
}
.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
/*LOADING SPACE*/
.contain {
  animation-delay: 4s;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962FF);
  background: linear-gradient(#25a7d7, #25a7d7);
}
.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}
/*Animation*/
.icon:nth-child(2) img {-webkit-animation-delay: 0.2s;animation-delay: 0.2s}
.icon:nth-child(3) img {-webkit-animation-delay: 0.3s;animation-delay: 0.3s}
.icon:nth-child(4) img {-webkit-animation-delay: 0.4s;animation-delay: 0.4s}
.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0,0) rotateZ(180deg);
  transform: scale(0,0) rotateZ(180deg);
}
@-webkit-keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}
@keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}

.firma{
  padding-top: 1em;
  text-align: center;
  background-color: #2d2d2d;
}

.fir{
  border: 0;
}
.engles{
  color: black;
   font-family: 'Arvo', serif;
  font-size: calc(0.85em + 1.4vmin);
}