body {
  margin: 0;
  font-family: Montserrat;
}
.topnav {
  background-color: #2b2b2b;
  overflow: hidden;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 34px;
  text-decoration: none;
  font-size: 17px;
  z-index: 1;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #74b9ff;
  color: white;
}
.bg {
  background: url(bg.jpg) no-repeat center center fixed;
  position: relative;
}

.img { display: absolute; width: 100%; filter: blur(2px);margin-top:0%; }
.login {
	margin-top: 1%;
}
.box {
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: #2b2b2b;
  text-align: center;
  border-radius: 15px;

}
.box h1{
  color: white;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 500;

}
.box h5{
  color: white;
  font-family: Montserrat;
  font-weight: 600;
}
.box a{
  text-decoration: none;
  color: #74b9ff
}
.box input[type="text"],.box input[type="password"],.box input[type="email"],.box input[type="tel"]{
  border:0;
  font-family: Montserrat;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border : 2px solid #00cec9;
  padding:14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="submit"]{
  border: 0;
  font-family: Montserrat;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #55efc4;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover{
  background: #55efc4;
}
.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="email"]:focus,.box input[type="tel"]:focus{
  width: 280px;
  border-color: #a29bfe;
}
.mainhead{
  font-size:75px;
  color:white;
  font-weight: 800;
  margin-bottom: 5%;
  font-family:Montserrat;
}
.mainhead2{
  font-size:15px;
  color:white;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
  font-weight: light;

  font-family:Montserrat;
}
.features{
  background-color: #2b2b2b;
  font-family: Montserrat;


}
.features h1{

  margin-left: 5%;
  margin-top: 8%;
  color: #74b9ff;
  font-size:75px;
  font-weight: 800;
  margin-bottom:10px;
}
.features p{
  margin-left: 5%;
  margin-right:30%
  margin-top: 0%;
  color: #74b9ff;

}
.features img{
  margin: 5%;
  margin-right: 5%;
  width:300px;
  height:300px;

}
