
body {
  margin: 0;
  font-family: Montserrat;
}
.topnav {
  background-color: #2b2b2b;
  overflow: hidden;
  font-family: Montserrat;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 34px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #74b9ff;
  color: white;
}

.topnav .icon {
  display: none;
}


.img {
  display: absolute;
   width: 100%;
    filter: blur(2px);
  margin: -5px -10px -10px -0px;
  z-index: -1;
 }
.login {
	margin-top: 1%;
}
.box {

  width: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: #2b2b2b;
  text-align: center;
  border-radius: 15px;

}
.box h1{
  color: white;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 500;

}
.box h5{
  color: white;
  font-family: Montserrat;
  font-weight: 600;
}
.box a{
  text-decoration: none;
  color: #74b9ff
}
.box input[type="text"],.box input[type="password"],.box input[type="email"],.box input[type="tel"],.box select,.box input[type="date"],.box input[type="time"],.box input[type="number"]{
  border:0;
  font-family: Montserrat;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border : 2px solid #00cec9;
  padding:14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="submit"]{
  border: 0;
  font-family: Montserrat;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #55efc4;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover{
  background: #55efc4;
}
.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="email"]:focus,.box input[type="tel"]:focus{
  width: 280px;
  border-color: #a29bfe;
}
.mainhead{
  font-size:75px;
  color:white;
  font-weight: 800;
  margin-bottom: 5%;
  font-family:Montserrat;
  z-index: -1;
}
.mainhead2{
  font-size:15px;
  color:white;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
  font-weight: light;
  z-index: -1;

  font-family:Montserrat;
}
.featuresd{
  background-color:#2b2b2b;
  overflow:hidden;
  font-family: Montserrat;
}
.wid-l25{
  float:left; width: 25%;
}
.wid-l75{
  float:left; width: 75%;
}
.cs-r40{
  float:left;width:40%;
}
.cs-r60{
  float:right;width:60%;
}
.CS{
  background-color:white;
  overflow:hidden;
  font-family: Montserrat;
}
.featuresd h1{

  margin-left: 5%;
  margin-top: 8%;
  color: #74b9ff;
  font-size:75px;
  font-weight: 800;
  margin-bottom:10px;
}
.featuresd p{
  margin-left: 5%;
  margin-right:30%
  margin-top: 0%;
  color: #74b9ff;

}
.featuresd img{
  margin: 5%;
  margin-right: 5%;
  width:300px;
  height:300px;

}
.featuresw{
  background-color:white;
  overflow:hidden;
  font-family: Montserrat;
}
.featuresw h1{

  margin-left: 5%;
  margin-top: 8%;
  color: #2b2b2b;
  font-size:75px;
  font-weight: 800;
  margin-bottom:10px;
}
.featuresw p{
  margin-left: 5%;
  margin-right:10%;
  margin-top: 0%;
  font-weight: 400px;
  color: #2b2b2b;

}
.featuresw img{
  margin: 5%;
  margin-left: 15%;
  width:300px;
  height:300px;

}
.add h3{
  margin-left: 15%;
  margin-top:5%;
  border-bottom: 3px solid #74b9ff;
  padding-bottom: 10px;
  color: #2b2b2b;
  font-size: 30px;
}
.add p{
  margin-left: 15%;
  margin-right: 10%;
  font-size: 20px;

}
.links h3{
  margin-top: 5%;
  margin-left: 20%;
  border-bottom: 3px solid #74b9ff;
  padding-bottom: 10px;
  color: #2b2b2b;
  margin-right: 5%;
  font-size: 30px;
  margin-bottom: 2%;
}
.links ul{
  margin-left: 20%;
  color: #2b2b2b;
  font-size: 20px;
  margin-bottom:3%;
}
.links li{
  text-decoration: none;
  margin-top: 10px;
  border-bottom: 1px solid #74b9ff;
  margin-right: 15%;
  padding-bottom: 10px;
}
.links a{
  text-decoration:none;
  color: #2b2b2b;
}
#copy{
  padding:10px;
}
.CS{
  width: 100%;
  overflow: hidden;
}
.cs-l{
  float:left;width:40%;
}
.cs-r{
  float:right;width:60%
}
.CS img{
  width:100%;
  height:auto;
  margin-top: 10%;
  margin-left: 0%;
}
.CS h1{
  font-size: 80px;
  color: #2b2b2b;
  margin-top: 50%;
  margin-left: 15%;
  margin-bottom: 5%;
}
.CS p{
  color: #2b2b2b;
  font-size: 20px;
  margin-left: 15%;
  margin-top: 0%;
}
.spec{
  width:100%;
  overflow:hidden;
  color:#2b2b2b;
}
.s-20{
  width:20%;float:left;
  margin-bottom: 15px;
}
.vr{
  width:20%;float:left;
  margin-bottom: 15px;
}
.con{
  margin-top:0%;margin-bottom:10%;text-align:center;font-size:100px;color:white;padding:5%
}
.spec p{
  text-align:center;
  margin:0%;
  margin-bottom: 5%;
}
.spec h1{
  text-align:center;
  margin:0%;
  margin-bottom: 5%;
}
.div-l50{
  width:50%;float:left;
}
.div-r50{
  width:50%;float:right;
}
.div-r50 h1{
  text-align:center;font-size:100px;color:#2b2b2b;margin-top:40%;
}
.div-l50 h1{
  text-align:center;font-size:100px;color:#2b2b2b;margin-top:20%;
}
#gamepic{
  width:100%;
  height:auto;
}
.game{
  width:50%;float:left;margin-bottom:05%;margin-top:5%;
}
.gamet{
  width:50%;float:right;
}
.gamet h1{
  text-align:center;
  font-size:100px;
  color:#2b2b2b;
  margin-top:35%;
}
@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .img{
    display: absolute;
     width: 200%;
      filter: blur(2px);
    margin: -10px -50px -10px -80px;
  }
  .mainhead{
    font-size: 40px;
  }
  .centered{
    top:30%;
  }
  [class*="wid-"] {
    width: 100%;
  }
  .featuresd h1{
    font-size: 40px;
    margin-right: 10px;
    text-align: center;
  }
  .featuresd p{
    font-size: 12px;
    margin-right: 16px;
    text-align: center;
    line-height:2;
  }
  .featuresd img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
  }
  .featuresw h1{
    font-size: 40px;
    margin-right: 10px;
    text-align: center;
  }
  .featuresw p{
    font-size: 12px;
    margin-right: 16px;
    text-align: center;
    line-height:2;
  }
  .featuresw img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
  }
  .featuresw h3{
    margin-left: 30px;
  }
  .featuresw ul{
    margin-left: 20px;
  }
  [class*="cs-"] {
    width: 100%;
  }
  .CS h1{
    font-size: 36px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
  }
  .CS p{
    margin-left: 0px;
    text-align: center;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    line-height:2;
  }
  .CS img{
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .s-20{
    width: 50%;
  }
  .vr{
    width: 100%;
  }
  .con{
    font-size: 50px;
  }
  [class*="div-"] {
    width: 100%;
  }
  .div-l50 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200%;
    height: auto;
  }
  .div-r50 h1{
    font-size: 50px;
    margin-top: 10px;
  }
  .div-r50 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
  }
  .div-l50 h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
  }
  .game{
    width: 100%;
    height: auto;
  }
  .gamet{
    width: 100%;
  }
  .gamet h1{
    float: none;
    font-size:50px;
    margin-top: 20px;
    text-align: center;
    margin-right: : 50px;
  }
}
